.ArtistCard {
  background-color:rgb(228, 160, 72);
  border:1px dotted black;
  text-align:center;
}

#logo {
  height:120px;
}

.SocialMediaButton{
  margin:5px;
}
.ArtistCard a {
  color:white;
  
}

.GenreFilter {
  width:20%;
  height:500px;
  background-color: tan;
}

.PreviewPane{
  height:500px;
}

.NavBar{
  font-size:3em;
  height:100px;
  display:flex;
  justify-content: space-around;
  align-items: flex-end;
  padding:10px;
  margin:25px auto 0px;
}

.ProfilePage{
  text-align:center;
}