@import './reset.css';

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

a {
	word-wrap: break-word;
}

body {
  /* to avoid the navbar overlapping content */
  padding-top: 60px;
  
}
body * {
  font-family:'Arvo', sans-serif;
  
}

.ArtistCard {
  background-color: rgb(228, 160, 72);
  text-align: center;
  height: 200px;
}
.artist-name{
  width: 90%;
margin:0 auto;
height:25%;
padding:5px;
line-height:39px;
}
.about {
  width: 75%;
  margin:auto;
}
@media only screen and (min-width:768px){
  .about{
  width:65%;  }
}
.about__heading{
  text-align:center;
  padding:40px 0;
  font-size:2rem;
  margin-bottom:2rem;
}
.about__subheading{
  font-size:1.5rem;
  margin-top:1rem;
  margin-bottom:1rem;
}
.about__list{
  list-style: square;
  padding-left:20px;
}
.about__list li{
  margin:1rem 0;
}
.about__paragraph{
  display: block;
  font-size:1rem;
  line-height:1.2rem;
  letter-spacing:0.2px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}
.about__section{
  margin: 40px 0;
}


#logo {
  height: 120px;
  display: block;
  margin: 0 auto;
}

.header {
  margin: 0 auto 50px;
}

.little-message {
  margin: 100px auto;
}

.SocialMediaButton {
  margin: 5px;
}
.SocialMediaButton a{
  margin:0 5px;
color:grey;
}

.ArtistCard a {
  color: white;
  line-height: normal;
  display:inline-block;
  /* font-family:'Secular One', sans-serif; */
  
}

.Dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-container {
  width: 85%;
}

.genre-filter {
  width: 200px;
}
.genre-filter Select{
  width:100%;
}

.image-size-warning{
  margin:20px auto;
  color:red;
  text-align:center;
}

.PreviewPane {
  max-width: 80%;
}

.NavBar {
  position: fixed;
  z-index:999;
  top: 0;
  background-color: rgb(255, 255, 255);
  width: 100%;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
  margin: 0px auto 50px;
}

.NavBar a {
  margin: 0px 10px;
}


.nav-category {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 10px;
  flex: 0 1 50%;
  /* font-family:'Secular One', sans-serif; */
  
}
.nav-category--center{
  flex: 1 1 0%;
  display:flex;
}
.nav-category--right{
  justify-content:flex-end;
}
.logo-category{
  flex: 1 1 0%;
  margin: 0 10px;
}
#navbar-logo{
 width: 230px; 

}
.ProfilePage {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom:50px;
}
.ProfilePage #profile-photo{
  max-width: 100%;
}
.ProfilePage div {
  margin:10px auto;
}
#profile-photo {
  max-height:500px;
}
.profile__heading{
  text-align:center;
  padding:40px 0;
  font-size:2rem;
}

.profile__subheading{
  font-size:1.5rem;
  margin-top:1rem;
  margin-bottom:1rem;
}
.results {
  margin: 0 auto 15px;
  padding:10px;
}
.results__text{
  margin: 0 10px;
}
.search-bar{
  display:flex;
  flex-flow:row nowrap;
}
.search__icon{
  padding:0 10px;

}
.search__cross{
}
.Submit{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width:500px;
  margin: 0 auto;   
}
.Submit form{
  margin: 0 auto 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.submit__field, .submit__textarea {
  margin:0 10px;
  display: flex;
  flex-direction: column;
  border:0;
}
.submit__textarea{
  border:1px solid rgba(230, 230, 230, 0.5);
}
.submit__field input {
  border:none;
  border-bottom:1px solid rgba(230, 230, 230, 0.5); 
  padding:4px 0;
}
.submit__image-drop{
  margin:20px auto;
  width:100%;
}

.Submit input{
  margin:5px 0px;
  width:100%;
}

.fade-enter{
  opacity:0;
}
.fade-enter-active{
  opacity:1;
  transition: opacity 500ms ease-in;
}
.fade-leave{
  opacity:1
}
.fade-leave-active{
  opacity:0;
  transition: opacity 500ms ease-in;
}
.searchie-enter{
  width:25px;
}
.searchie-enter-active{
  width:100px;
  transition: width 500ms ease-in;
}
.searchie-leave{
  width:500px;
}
.searchie-leave-active{
  width:25px;
  transition: width 500ms ease-in;
}
#toggle{
  flex: 0 1 50%;
}
@media screen and (min-width:576px){
  body{
    padding-top:103px;
  }
  #navbar-logo{
    width:unset;
  }
}
@media screen and (min-width: 992px){
 
  .NavBar,.nav-category {
    flex-direction: row;
  }
 
  .genre-filter{
    order:-1;
  }
  #toggle{
    display:none;
  }
  .nav-category__spacer--left{
    display:none;
  }
  .mobile-navbar{
    display:none;
  }
  
  

}
/* small screens */
@media screen and (max-width: 992px){
  /* .nav-category{
    margin:0 auto 80px;
  } */
  #logo{
    display:none;
  }

  .large-screen {
    display:none;
  }
  .mobile-navbar--hidden{
    display:none;
  }
}